#storemap{
    width: 100%;
    height: 500px;
    margin-bottom:20px;
}

#map-style .alert-warning {
    padding: 5px 10px;
    margin:10px 0;
}

/* Details */
.store_infos .store_hours li{
    font-size: .9375rem;
    display: flex;
    justify-content: space-between;
}

/* store card*/
article.storeggmap-hide{
    display:none;
}

/* Location search */
#map_location_search .form-group{
    display:flex;
    justify-content:flex-start;
    padding: 1rem;
    margin: 0;
}

#map_location_search .form-group label{
    white-space:nowrap;
}

#map_location_search .form-group [class^="form-control"]:not(:last-child){
    margin-right:20px;
}

#map_location_search .form-group select{
    height:inherit;
    max-width:10%;
}

#map_location_search .form-group .btn-primary .material-icons{
    margin-right:0;
}

@media (max-width: 900px) {
    #map_location_search .form-group {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #map_location_search .form-group select {
        max-width: 100%;
    }
}